@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
  @apply bg-gradient-to-b from-blue-50 to-blue-100;
}

.shadowxl {
  @apply shadow-xl shadow-blue-900/40;
}

.shadowsm {
  @apply shadow-sm shadow-blue-600/40;
}
.bg-element {
  @apply bg-blue-300/40;
}
